
.DS_Store
Codigo/__pycache__/data_types.cpython-39.pyc
Codigo/__pycache__/database.cpython-39.pyc
Codigo/__pycache__/funciones_interfaz.cpython-39.pyc
Codigo/__pycache__/patrones.cpython-39.pyc
Codigo/__pycache__/read_excel_files.cpython-39.pyc
rotondas.db
Info/2021_07_06____11_25____1_Subjetiva.ROT 1_cortado.mp4
